<%- include ('partials/header') %>

<h1> You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if (thingVar.toLowerCase() === "rusty") { %>
	<p>GOOD CHOISE! RUSTY IS THE BEST!</p> 
<% } else {%>
		<p>BAD CHOISE! YOU WOULD BETTER CHOOSE RUSTY!</p> 
<% } %>


<p>PS This is the love.ejs file!</p>
<%- include ('partials/footer') %>